container_commands:
    01wsgipass:
        command: 'echo "WSGIPassAuthorization On" >> ../wsgi.conf'


commands:
    01_migrate:
        command: "source /opt/python/run/venv/bin/activate && python arclightbackend/manage.py migrate --noinput"
        leader_only: true
    02_collectstatic:
        command: "source /opt/python/run/venv/bin/activate && python arclightbackend/manage.py collectstatic --noinput"


