option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: “arclightbackend.settings"
    "PYTHONPATH": "/opt/python/current/app/arclightbackend:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: arclightbackend/arclightbackend/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "www/static/"
  option_name: SECRET_KEY
    value: placeholder-value-change-me
  option_name: AWS_ACCESS_KEY_ID
    value: placeholder-value-change-me
  option_name: AWS_SECRET_ACCESS_KEY
    value: placeholder-value-change-me
  option_name: AWS_STORAGE_BUCKET_NAME
    value: placeholder-value-change-me
  option_name: EMAIL_HOST
    value: placeholder-value-change-me
  option_name: EMAIL_HOST_USER
    value: placeholder-value-change-me
  option_name: EMAIL_HOST_PASSWORD
    value: placeholder-value-change-me
  option_name: EMAIL_PORT
    value: placeholder-value-change-me
  option_name: EMAIL_USE_TLS
    value: placeholder-value-change-me
  option_name: WEB_URL
    value: placeholder-value-change-me

container_commands:
    01_migrate:
        command: "source /opt/python/run/venv/bin/activate && python manage.py migrate --noinput"
        leader_only: true
    02_collectstatic:
        command: "source /opt/python/run/venv/bin/activate && python manage.py collectstatic --noinput"


