container_commands:
    01_wsgipass:
        command: 'echo "WSGIPassAuthorization On" >> ../wsgi.conf'
    02_migrate:
        command: "source /opt/python/run/venv/bin/activate && python /opt/python/current/app:/manage.py migrate --noinput"
        leader_only: true
    03_collectstatic:
        command: "source /opt/python/run/venv/bin/activate && python /opt/python/current/app/manage.py collectstatic --noinput"


